{{- if eq .chezmoi.os "windows" -}}
set PATH=C:\cygwin64\bin;%PATH%
set _ZIM_HOME=%USERPROFILE%\.zim
@for /F "tokens=*" %%g in ('cygpath %_ZIM_HOME%') do (set ZIM_HOME=%%g)
@if not exist %_ZIM_HOME%\ exit /b 0

@if not exist %_ZIM_HOME%\modules\zsh-syntax-highlighting goto zimfw
pushd %_ZIM_HOME%\modules\zsh-syntax-highlighting
@for %%f in (.revision-hash,.version) do (
  @if not exist %%f copy /y {{ osClean .chezmoi.sourceDir }}\dot_zim\modules\zsh-syntax-highlighting\%%f %%f
)
@popd

:zimfw

pushd {{ osClean .chezmoi.sourceDir }}
git submodule foreach "git rm -rfq .; git checkout -f"
@popd

pushd %_ZIM_HOME%
find modules -name "*.zsh" -exec dos2unix {} ;
zsh zimfw.zsh build
@popd
{{- end -}}
